SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/expmatik
SPRING_DATASOURCE_USERNAME=tu_usuario
SPRING_DATASOURCE_PASSWORD=tu_contraseña
SPRING_SQL_INIT_MODE=always
PREDICTION_SEEDER_ENABLED=true

JWT_EXPIRATION_AT=900000
JWT_EXPIRATION_RT=604800000
JWT_SECRET_KEY=clave_secreta_base64_de_al_menos_32_bytes

ALLOWED_ORIGINS=http://localhost:3000
